/*1024 - 1229*/
@media screen  and (max-width: 2990px) {
    .review-icon {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .offer-title {
        margin-top: 60px;
    }

    .overlay {
        display: none;
    }

    .review-icon {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .modal-content {
        height: 100vh;
    }
}

