:root {
    --bg-offset-x: 0px;
    --bg-offset-y: 0px;
}

.main-insurance {
    padding: 60px 0 180px 0;
    background-image: url('../images/arrow.png');
    background-position: calc(50% - var(--bg-offset-x)) calc(90% + var(--bg-offset-y));
    background-size: cover;
}

.main-insurance-title {
    color: #000000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.main-insurance-description {
    margin-top: 30px;
    color: #232628;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
}

/*insurance*/
.insurance {
    padding: 60px 0 80px 0;
}

.insurance-title {
    color: #000000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.insurance-description {
    margin-top: 30px;
    color: #232628;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
}

.banks {
    margin: 60px 0 80px 0;
    cursor: pointer;
}

.banks-icons {

    transition: all .5s ease;
}

.banks-icons:hover   {
    transform: scale(1.6);
    transition: all .8s ease;
}


.insurance-image,
.finance-image {
    border-radius: 50px;
}