:root {
    --bg-offset-x: 0px;
    --bg-offset-y: 0px;
}

.main-contact {
    padding: 60px 0 80px 0;
    background-image: url('../images/arrow.png');
    background-position: calc(50% - var(--bg-offset-x)) calc(90% + var(--bg-offset-y));
    background-size: cover;
}

.main-contact-title {
    color: #000000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.main-contact-description {
    margin-top: 30px;
    color: #232628;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
}

/*contact*/
.contact {
    padding: 60px 0 80px 0;
}

.contact-info {
    margin-top: 30px;
}

.contact-title {
    color: #000000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.contact-text {
    color: #232628;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
}

.contact-street {
    color: rgba(84, 84, 84, 0.78);
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
}

iframe {
    width: 90%;
}

    /*choose*/
.choose {
    padding: 60px 0 80px 0;
    background: #F4F4F4;
}

.choose-title {
    color: #000000;
    font-family: Nunito-Medium, sans-serif;
    font-size: 32px;
}

.choose-text {
    margin-top: 30px;
    color: #232628;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    max-width: 500px;
}

.choose-form {
    padding: 40px;
    box-shadow: 0 0 40px -5px #8D8D8D;
    border-radius: 50px;
    color: #FFFFFF;
    max-width: 500px;
}

.choose-input {
    border-radius: 50px;
}

.choose-input::placeholder {
    font-size: 14px;
    color: #232628;
    align-items: center;
    font-family: Nunito-Regular, sans-serif;
}

.choose-btn {
    margin-top: 10px;
}

.btn {
    background: linear-gradient(90deg, rgba(36, 155, 184, 0.90) 5.08%, rgba(10, 51, 76, 0.90) 114.58%);
    border: 0;
    border-radius: 50px;
    width: 245px;
    height: 60px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 40px -5px #8D8D8D;
}